<h2>Submit a New Quote</h2>
<%= form_for @quote do |f| %>
  <p><%= f.label :politician_id, "Politician: " %>
  <%= f.collection_select :politician_id, Politician.all, :id, :name %></p>
  <p><%= f.label :direct_quote, "Direct Quote: " %>
  <%= f.text_area :direct_quote %></p>
  <p><%= f.label :source, "Source URL: " %>
  <%= f.text_field :source %></p>
  <p><%= f.label :quote_date, "Quote Date: " %>
        <%= f.date_select :quote_date %></p>
        <p><%= f.label :fact_check_rating, "Politifact Rating: " %>
          <%= f.text_field :fact_check_rating %></p>
          <%= f.submit "Update Quote" %>
<% end %>
