  <h2>Submit a New Quote</h2>
    <%= form_for @quote do |f| %>
      <%= f.label :source %>
      <%= f.text_field :source %>
      <%= f.label :quote_date %>
      <%= f.date_select :quote_date %>
      <%= f.label :fact_check_rating %>
      <%= f.text_field :fact_check_rating %>
      <%= f.label :direct_quote %>
      <%= f.text_area :direct_quote %>
      <%= f.label :politician_id %>
      <%= f.select_field :politician_id, options_for_select(Politician.all.map{|s| ["#{s.politician.name}", s.id]})) %>
      <%= f.submit "Add Quote" %>
    <% end %>
