<div class="quote">
<h3><%= @quote.politician.name %></h3>
<p><%= @quote.direct_quote %></p>
  <!-- <img src="<%= @politician.photo_url %>" alt="<%= @politician.name %>"/> -->
  <%= image_tag @politician.photo_url, class:"pol_img" %>
</div>
