
<h1>He Said / She Said What?! Quiz</h1>
  <p>Think you know the shit America's leading politicians actually say? Choose 'said it!' or 'didn't say it!' for each politican and quote to test your politicial know-how. You'll also find out who's totally bullshitting We The People – and who's not. </p>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<h2><%= @politician.name %></h2>
<%= image_tag @politician.photo_url %>
<h3><%= @quote.direct_quote %><h3>


<%= form_tag game_check_path do %>
    <%= hidden_field_tag "quote_id", @quote.id %>
    <%= hidden_field_tag "politician_id", @politician.id %>
    <%= hidden_field_tag "said_it", true %>
    <%= submit_tag "#{@quote.politician_id} = #{@politician.id}" %>
  <% end %>

  <%= form_tag game_check_path do %>
      <%= hidden_field_tag "quote_id", @quote.id %>
      <%= hidden_field_tag "politician_id", @politician.id %>
      <%= hidden_field_tag "didnt_say_it", true %>
      <%= submit_tag "#{@quote.politician_id} != #{@politician.id}" %>
    <% end %>

<p>Score: <% session[:score] %></p>
