<%= @quote.direct_quote %>

<h2><%= @politician.name %></h2>

<%= form_tag game_check_path do %>
    <%= hidden_field_tag "quote_id", @quote.id %>
    <%= hidden_field_tag "politician_id", @politician.id %>
    <%= hidden_field_tag "said_it", true %>
    <%= submit_tag "Said it" %>
  <% end %>


  <%= form_tag game_check_path do %>
      <%= hidden_field_tag "quote_id", @quote.id %>
      <%= hidden_field_tag "politician_id", @politician.id %>
      <%= hidden_field_tag "said_it", false %>
      <%= submit_tag "Didn't say it" %>
    <% end %>
