<h2>Edit Politican</h2>
  <%= form_for @politician do |f| %>
    <p><%= f.label :name %>
    <%= f.text_field :name %></p>
    <p><%= f.label :party %>
    <%= f.text_field :party %></p>
    <p><%= f.label :current_office %>
    <%= f.text_field :current_office %></p>
    <p><%= f.label :running_for %>
    <%= f.text_field :running_for %></p>
    <p><%= f.label :photo_url %>
    <%= f.text_field :photo_url %></p>
    <p><%= f.label :elect_date %>
    <%= f.date_select :elect_date %></p>
    <%= f.submit "Add Politician" %>
  <% end %>
