<h1>Politicians</h1>

<div class="media">
  <% @politicians.each do |politician| %>
      <div class="media-left media-top">
        <%= image_tag politician.photo_url, class:"media-object"  %>
      </div>
      <div class="media-body">
      <h4 class="media-heading"><%= link_to politician.name, politician %></h4>
      <p><%= politician.party %><br />
      <%= politician.current_office %><br />
      <%= politician.running_for %><br />
      <%= politician.elect_date %></p>
    </div>
    <% end %>
  </div>
