<div class="jumbotron">
  <div class="media-left media-top">
    <%= image_tag @politician.photo_url, class:"media-object" %>
  </div>
  <div class="media-body">
    <h3 class="media-heading"><%= @politician.name %></h3>
    <p><strong>Current Office:</strong> <%= @politician.current_office %> <br />
    <strong>State:</strong> <%= @politician.state %><br />
    <strong>Election Date:</strong> <%= @politician.elect_date %><br />
    <strong>Running For:</strong> <%= @politician.running_for %></p>

  </div>

  <h4><%= link_to "(update #{@politician.name}'s profile)", edit_politician_path %></h4>
</div>


<%= Quote.where(:politician => @politician).each do |quote| %>
<%= link_to quote.direct_quote %> - <%= quote.politician.name %>
<%= button_to 'LOVE it', upvote_quote_path(quote), method: :post %>
<%= button_to 'HATE it', unvote_quote_path(quote), method: :patch %>
<%= pluralize(quote.votes.count, "vote") %>
<td><%= link_to 'Show', quote %></td>
<td><%= link_to 'Edit', edit_quote_path(quote) %></td>
<% end %>
